@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --cor1: #f3f3f3;
    --cor2: #1b1b3296;
    --cor3: rgba(26, 26, 46, 0.89);
    --cor4: #37af65;
    --font1: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor3);
    color: white;
    font-weight: normal;
}

h1{
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    padding: 80px 0px 0px;
    margin-bottom: -10px;
    font-weight: lighter;
}

p#desc{
    text-align: center;
    font-size: 18px;
    padding: 0px 0px 20px;
    font-style: italic;
    font-weight: lighter;
}

a{
    color: var(--font1);
}

form{
    background: var(--cor2);
    padding: 30px;
    width: 500px;
    border-radius: 3px;
    margin: auto;
    margin-bottom: -10px;
}

.forms{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    width: 500px;
}

#name, #idade, #mail{
    padding: 8px;
    width: 480px;
    border-radius: 7px;
    font-size: 18px;
}

input[class$="preferencias"], [id$="yep"],  [id$="talvez"],  [id$="not"] {
    width: 16px;
    height: 16px;
    margin: 10px 5px;
}

#selecione, #recurso{
    padding: 8px;
    width: 500px;
    border-radius: 7px;
    font-size: 18px;
}

p{
    padding: 15px 0px 0px;
    margin-bottom: 7px;
}

textarea{
    width: 463px;
    height: 80px;
    padding: 15px;
    font-size: 18px;
}

button{
    padding: 10px;
    width: 495px;
    border-radius: 4px;
    font-size: 18px;
    font-family: var(--font1);
    margin: 30px 0px;
    background-color: var(--cor4);
    color:var(--cor1);
}
